<section class="vh-100 ">

  <div class="d-flex justify-content-center h-25">
    <ng-lottie [options]="options" width="250px" height="250px"></ng-lottie>
  </div>
  <div class="container p-5 h-50 mt-2">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-4 py-2">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-outline mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              type="text"
              class="form-control  form-control-sm"
              name="username"
              ngModel
              required
              minlength="3"
              maxlength="15"
              #Namevaild="ngModel"
              [ngClass]="{ 'is-invalid': Namevaild.invalid && Namevaild.dirty }"
            />
            <div *ngIf="Namevaild.invalid" class="invalid-feedback">
              Please enter a name with a minimum of 3 characters.
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              class="form-control  form-control-sm"
              name="password"
              ngModel
              required
              minlength="3"
              maxlength="15"
              #Passvaild="ngModel"
              [ngClass]="{ 'is-invalid': Passvaild.invalid && Passvaild.dirty }"
            />
            <div *ngIf="Passvaild.invalid" class="invalid-feedback">
              Please enter a password with a minimum of 3 characters.
            </div>
          </div>

          <p
            class="error"
            [ngClass]="error.length > 0 ? 'visible' : 'invisible'"
          >
            {{ error }}
          </p>

          <div class="d-flex align-items-center mb-4">
            <span>Not registered?</span>
            <a
              routerLink="/register"
              class="text-primary text-decoration-none px-2"
              >Register here</a
            >
          </div>

          <!-- Submit button -->
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
