<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title text-2xl font-semibold">Self Transfer</h2>
      </div>
      <div class="card-body">
        <form action="/process-transfer" method="post">
          <!-- <div class="mb-3">
            <label for="accountType" class="form-label"
              >Select Account Type:</label
            >
            <select
              class="form-select"
              id="transactionType"
              name="transactionType"
              required
              [(ngModel)]="transactionType" (change)="updateReceiverAccount()"
            >
              <option value="" selected disabled>Select Account Type</option>
              <option value="1">Savings to Investment</option>
              <option value="2">Investment to Savings</option>
            </select>
          </div> -->

          <div class="mb-3">
            <label for="senderAccount" class="form-label"
              >Sender's Account Number:</label
            >
            <input
              type="text"
              class="form-control"
              id="sourceAccount"
              name="sourceAccount"
              required
              [(ngModel)]="sourceAccount"
            />
          </div>

          <div class="mb-3">
            <label for="receiverAccount" class="form-label">Receiver's Account Number:</label>
            <input
              type="text"
              class="form-control"
              id="targetAccount"
              name="targetAccount"
              required
              minlength="10"
              [(ngModel)]="targetAccount"
              #targetAccountInput="ngModel" 
              [ngClass]="{ 'is-invalid': targetAccountInput.invalid && targetAccountInput.dirty }" 
            />
            <div *ngIf="targetAccountInput.invalid" class="invalid-feedback">
              Please enter a valid 10-digit account number.
            </div>
          </div>
          

          <div class="mb-3">
            <label for="amount" class="form-label">Amount:</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              ngModel
              required
              min="1" 
              [(ngModel)]="amount"
              #amountInput="ngModel" 
              [ngClass]="{ 'is-invalid': amountInput.invalid && amountInput.dirty }" 
            />
            <div *ngIf="amountInput.invalid" class="invalid-feedback">
              Please enter a valid amount greater than or equal to 1.
            </div>
          </div>
          
          <p
            class="error"
            [ngClass]="error.length > 0 ? 'visible' : 'invisible'"
          >
            {{ error }}
          </p>

          <button
            type="submit"
            class="btn btn-primary"
            (click)="fundtransfer()"
          >
            Transfer Funds
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
