<style>
    body {
        background-color: #f8f9fa;
        margin: 20px; /* Adjust the margin to create space between the content and the border */
        border: 5px solid #007bff; /* Border color */
        border-radius: 15px; /* Border radius */
        padding: 20px; /* Padding for content inside the border */
    }

    .container {
        margin-top: 20px;
    }

    h2 {
        color: #007bff;
    }

    .table {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table th, .table td {
        text-align: center;
    }

    .thead-dark th {
        background-color: #007bff;
        color: #fff;
    }

    .approval-btn {
        width: 100%;
    }

    .approval-btn i {
        margin-right: 5px;
    }
</style>

<body>

<div class="container">
<h2 class="text-dark">User Account Approval</h2>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>User ID</th>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of accountDetails">
        <td>{{user.id}}</td>
        <td>{{user.account_No}}</td>
        <td>{{user.accountType}}</td>
        <td>
            <button class="btn btn-success approval-btn" (click)="approval(user.id)">
                <i class="fas fa-check"></i> Approve
            </button>
        </td>
    </tr>
   
    </tbody>
</table>
</div>
