<style>
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .user-card,
  .account-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .card-total-amount {
    margin-bottom: 20px;
    background: linear-gradient(to right, #3498db, #9b59b6);
    color: #ffffff;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .account-card {
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #ffffff;
  }

  .transaction-history {
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    margin-top: 20px;
  }

  thead {
    background: #069ad9;
    color: #ffffff;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 20%;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  [data-type="deposit"] td:nth-child(2) {
    color: #27ae60;
  }

  [data-type="withdrawal"] td:nth-child(2) {
    color: #e74c3c;
  }
  .by {
    background-color: #069ad9;
  }
</style>
<body class="pointer">
  <div class="d-flex justify-content-end align-items-center py-4">
    <button
      type="submit"
      class="by btn text-white"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      data-bs-whatever="@mdo"
      *ngIf="accountDetails.length <= 1"
    >
      Add Account
    </button>
  </div>
  <div class="d-flex justify-content-end align-items-center me-3" *ngIf="accountDetails.length > 1">
    <button
      *ngIf="accountDetails.length >= 2"
      (click)="toggleAccount()"
      class="btn btn-secondary"
    >
      Switch
    </button>
  </div>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Account</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Username:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                ngModel
                required
                minlength="3"
                maxlength="15"
                #Namevaild="ngModel"
                [ngClass]="{
                  'is-invalid': Namevaild.invalid && Namevaild.dirty
                }"
              />
              <div *ngIf="Namevaild.invalid" class="invalid-feedback">
                Please enter a name with a minimum of 3 characters.
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                ngModel
                minlength="3"
                maxlength="15"
                #Passvaild="ngModel"
                [ngClass]="{
                  'is-invalid': Passvaild.invalid && Passvaild.dirty
                }"
              />
              <div *ngIf="Passvaild.invalid" class="invalid-feedback">
                Please enter a password with a minimum of 3 characters.
              </div>
            </div>

            <div class="mb-3">
              <label for="accountType" class="form-label">Account Type:</label>
              <select
                class="form-select"
                id="accountType"
                name="accountType"
                [(ngModel)]="accountType"
              >
                <option value="" selected disabled>Select Account Type</option>
                <option value="1">Savings</option>
                <option value="2">Investment</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="by btn text-white"
            data-bs-dismiss="modal"
            (click)="addAccount()"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="container"
    *ngIf="userProfile.length > 0 && accountDetails.length >= 1"
  >
    <div class="account-card" *ngFor="let user of userProfile">
      <!-- User Details -->
      <h2>Hii {{ user.firstName }} {{ user.lastName }}</h2>
      <p>
        Email: <span>{{ user.email }}</span>
      </p>
      <p>
        Phone: <span>{{ user.phone }}</span>
      </p>
      <p>
        Address:
        <span>{{ user.address }},{{ user.city }}-{{ user.zipcode }}</span>
      </p>
    </div>

    <div class="account-card">
      <div *ngFor="let account of accountDetails">
        <div *ngIf="account.accountType == accountTy">
          <h2>Account Details</h2>
          <p>Account Number: {{ account.account_No }}</p>
          <p>Account Type: {{ account.accountType }}</p>
          <p (click)="hideBalance()">
            Balance: 
            <span *ngIf="showBalance">{{account.balance}}</span>
            <span *ngIf="!showBalance" class="text-white">View Balance</span>
          </p>
        </div>
      </div>
      
    </div>
  </div>

  <div class="transaction-history">
    <h2>Transaction History</h2>
    <table *ngIf="transactions.length>0">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Type</th>
          <th>To Account</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody *ngFor="let transfer of transactions">
        <tr data-type="deposit" *ngIf="transfer.sourceAccount==selectedAccount" >
          <td>{{ transfer.id }}</td>
          <td
            *ngIf="selectedAccount == transfer.sourceAccount"
            class="text-danger"
          >
            Debited
          </td>
          <td data-type="withdrawal" *ngIf="selectedAccount == transfer.targetAccount">Credited</td>
          <td>{{ transfer.targetAccount }}</td>
          <td>${{ transfer.amount }}</td>
          <td>{{ transfer.localDateTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center" *ngIf="transactions.length<=0">
    <ng-lottie [options]="options" width="100%" height="60%"></ng-lottie>
  </div>
</body>
