<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title text-2xl font-semibold">Other Bank Transfer</h2>
      </div>
      <div class="card-body">
        <form action="/process-transfer" method="post">
          <div class="mb-3">
            <label for="senderAccount" class="form-label"
              >Your Account Number:</label
            >
            <input
              type="text"
              class="form-control"
              id="sourceAccount"
              name="sourceAccount"
              required
              [(ngModel)]="sourceAccount"
            />
          </div>

          <div class="mb-3">
            <label for="receiverAccount" class="form-label">Beneficiary's Account Number:</label>
            <input
              type="text"
              class="form-control"
              id="targetAccount"
              name="targetAccount"
              ngModel
              required
              minlength="9"
              [(ngModel)]="targetAccount"
              #targetAccountInput="ngModel" 
              [ngClass]="{ 'is-invalid': targetAccountInput.invalid && targetAccountInput.dirty }"
            />
            <div *ngIf="targetAccountInput.invalid" class="invalid-feedback">
              Please enter a valid account number with a minimum length of 9 characters.
            </div>
          </div>
          
           
          <div class="mb-3">
            <label for="beneficiaryName" class="form-label">Beneficiary's Name:</label>
            <input
              type="text"
              class="form-control"
              id="beneficiaryName"
              name="beneficiaryName"
              ngModel
              required
              minlength="3" 
              [(ngModel)]="name"
              #beneficiaryNameInput="ngModel" 
              [ngClass]="{ 'is-invalid': beneficiaryNameInput.invalid && beneficiaryNameInput.dirty }" 
            />
            <div *ngIf="beneficiaryNameInput.invalid" class="invalid-feedback">
              Please enter a valid beneficiary name with a minimum length of 3 characters.
            </div>
          </div>
          

          <div class="mb-3">
            <label for="beneficiaryBank" class="form-label">Beneficiary's IFSC Code:</label>
            <input
              type="text"
              class="form-control"
              id="IFSC"
              name="IFSC"
              required
              minlength="6" 
              [(ngModel)]="IFSC"
              #ifscCodeInput="ngModel" 
              [ngClass]="{ 'is-invalid': ifscCodeInput.invalid && ifscCodeInput.dirty }" 
            />
            <div *ngIf="ifscCodeInput.invalid" class="invalid-feedback">
              Please enter a valid IFSC code with a minimum length of 6 characters.
            </div>
          </div>
          

          <div class="mb-3">
            <label for="amount" class="form-label">Amount:</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              ngModel
              required
              min="1" 
              [(ngModel)]="amount"
              #amountInput="ngModel" 
              [ngClass]="{ 'is-invalid': amountInput.invalid && amountInput.dirty }" 
            />
            <div *ngIf="amountInput.invalid" class="invalid-feedback">
              Please enter a valid amount greater than or equal to 1.
            </div>
          </div>
          
          <p
            class="error"
            [ngClass]="error.length > 0 ? 'visible' : 'invisible'"
          >
            {{ error }}
          </p>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="fundtransfer()"
          >
            Transfer Funds
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
