<style>
  .container {
    margin-top: 30px;
  }

  h2 {
    color: #007bff;
  }

  .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
  }

  .card-body {
    text-align: center;
  }

  .card-title {
    color: #fff;
  }

  .table {
    margin-top: 20px;
  }

  th,
  td {
    text-align: center;
  }

  th {
    background-color: #069ad9;
    color: #fff;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .card-total-amount {
    margin-bottom: 20px;
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .card-number-of-users {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .card-user-registrations {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #3498db, #2980b9);
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
</style>

<body>
 
  <div class="container">
    <h2 class="fs-1 text-dark">Welcome, Admin!</h2>

    <div class="row pointer">
      <div class="col-md-4">
        <div class="card card-total-amount">
          <div class="card-body">
            <h6 class="card-title">Total Amount in Bank</h6>
            <p class="card-text fs-1 ">$ {{ totalBalance }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-number-of-users">
          <div class="card-body">
            <h6 class="card-title">Number of User</h6>
            <p class="card-text fs-1">0{{ userDetails.length }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-user-registrations">
          <div class="card-body">
            <h6 class="card-title">Not Approval</h6>
            <p class="card-text fs-1">0{{ registerUser.length }}</p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-4">List of Transactions</h3>
    <div >
      <table class="table table-bordered" *ngIf="transactions.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Accounts</th>
            <th>Amount</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tran of transactions">
            <td>{{ tran.id }}</td>
            <td>{{ tran.sourceAccount }} to {{ tran.targetAccount }}</td>
            <td>${{ tran.amount }}</td>
            <td>{{ tran.localDateTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center" *ngIf="transactions.length<=0">
      <ng-lottie [options]="options" width="100%" height="60%"></ng-lottie>
    </div>
  </div>
</body>
