
<body>
  <div class="border-cover container p-3">
    <h2 class="text-dark">User Details</h2>
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Saving Account</th>
          <th>Investment Account</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of userDetails">
        <tr >
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
            <ng-container *ngIf="user.accounts && user.accounts.length > 0; else noAccount">
              <ng-container *ngFor="let u of user.accounts">
                <span *ngIf="u.accountType === 'SAVING_ACCOUNT'">{{u.account_No}}</span>
              </ng-container>
            </ng-container>
            <ng-template #noAccount>-</ng-template>
          </td>
          <td>
            <ng-container *ngIf="user.accounts && user.accounts.length > 0; else noInvestmentAccount">
              <ng-container *ngFor="let u of user.accounts">
                <span *ngIf="u.accountType === 'INVESTMENT_ACCOUNT'">{{u.account_No}}</span>
              </ng-container>
            </ng-container>
            <ng-template #noInvestmentAccount>-</ng-template>
          </td>
          <td>{{user.address}}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
</body>
