<body>
  <div class="d-flex justify-content-center mt-5">
    <ng-lottie [options]="options" width="100%" height="100%"></ng-lottie>
  </div>
  <body>
    <section class="px-4 py-4 px-md-5 text-center text-lg-start my-5">
      <div class="button-section">
        <button [routerLink]="'/self'">
          <div class="d-flex justify-content-center mt-4">
            <ng-lottie [options]="options1" width="100%" height="100%"></ng-lottie>
          </div>
          <div>
            <h3>Self Transfer</h3>
            <p>Transfer money within your own account.</p>
          </div>
        </button>
        <button [routerLink]="'/samebank'">
          <div class="d-flex justify-content-center mt-4">
            <ng-lottie [options]="options2" width="100%" height="100%"></ng-lottie>
          </div>
          <div>
            <h3>Same Bank Transfer</h3>
            <p>Transfer money to account within the same bank.</p>
          </div>
        </button>
        <button [routerLink]="'/otherbank'">
          <div class="d-flex justify-content-center mt-4">
            <ng-lottie [options]="options3" width="100%" height="100%"></ng-lottie>
          </div>
          <div>
            <h3>Other Bank Transfer</h3>
            <p>Transfer money to account in other banks.</p>
          </div>
        </button>
      </div>
    </section>
  </body>
  
  

