<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title text-2xl font-semibold">Same Bank Transfer</h2>
      </div>
      <div class="card-body">
        <form action="/process-transfer" method="post">
          <div class="mb-3">
            <label for="senderAccount" class="form-label"
              >Your Account Number:</label
            >
            <input
              type="text"
              class="form-control"
              id="sourceAccount"
              name="sourceAccount"
              required
              value="{{ sourceAccount }}"
              [(ngModel)]="sourceAccount"
            />
          </div>

          <div class="mb-3">
            <label for="accountType" class="form-label">Account No:</label>
            <select
              class="form-select"
              id="accountNo"
              name="accountNO"
              [(ngModel)]="targetAccount"
              required
            >
              <option value="" selected disabled>Select Account Type</option>
              <option
                value="{{ account.account_No }}"
                *ngFor="let account of accounts"
              >
                {{ account.account_No }}
              </option>
            </select>
          </div>

         
          <div class="mb-3">
            <label for="amount" class="form-label">Amount:</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              ngModel
              required
              min="1" 
              [(ngModel)]="amount"
              #amountInput="ngModel" 
              [ngClass]="{ 'is-invalid': amountInput.invalid && amountInput.dirty }" 
            />
            <div *ngIf="amountInput.invalid" class="invalid-feedback">
              Please enter a valid amount greater than or equal to 1.
            </div>
          </div>
          
          <p
            class="error"
            [ngClass]="error.length > 0 ? 'visible' : 'invisible'"
          >
            {{ error }}
          </p>

          <button
            type="submit"
            class="btn btn-primary"
            (click)="fundtransfer()"
          >
            Transfer Funds
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
