.card-header {
    background: linear-gradient(to right, #3498db, #9b59b6);
    color: #ffffff;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  section{
    border-radius: 20px;
  }